[Unit]
Description=Backup files
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=sync-down.sh $SYNOLOGY_USER $SYNOLOGY_KEY
Environment="SYNOLOGY_USER={{ synology_user }}"
Environment="SYNOLOGY_KEY={{ ssh_keypair.filename }}"

[Install]
WantedBy=default.target
